<h1>Participating Brands</h1>

<div class="well">
  <% if @shoes.any?() %>
  <h2>Here are the participating brands: </h2>

  <ul>
    <% @shoes.each() do |shoe| %>
      <li><a href="/shoes/<%=shoe.id() %>"><%= shoe.brand %></a></li>
    <% end %>
  </ul>
  
  <% else %>

  <h2>Currently, there aren't any. Please check back soon.</h2>

  <% end %>
</div>

<div class="well">
  <form action="/shoes" method="post">
    <input type="text" name="brand" placeholder="Add Brand">
    <input type="text" name="price" placeholder="Add Price $">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
