<h1>Participating Shoe Stores</h1>

<div class="well">
  <% if @stores.any?() %>
  <h2>Here are the participating businesses: </h2>

  <ul>
    <% @stores.each() do |store| %>
      <li><a href="/stores/<%=store.id() %>"><%= store.name %></a></li>
    <% end %>
  </ul>
  <% else %>

  <h2>Currently, there aren't any businesses.</h2>

  <% end %>
</div>

<div class="well">
  <form action="/stores" method="post">
    <input type="text" name="title" placeholder="Add Store">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
